@import url(/proyectos/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body{
    font-family: 'Noto Sans', sans-serif;
    user-select: none;
    text-align: center;
}    
.menuFoods section{
    width: 90%;
    height: 30px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    margin: 10px auto;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}
.menuFoods section ::before{
    position: absolute;
    content: "Lunes";
    font-size: 18px;
    opacity: .5;
    margin:0 10px;
}